05.02. Validación XML - DTD II Requisitos de finalización/EJERCICIO_02/index.dtd

    <!ELEMENT EquiposNBA (equipo+ | nombre+)>
    
    <!ELEMENT nombre (#PCDATA)>
    
    <!ELEMENT equipo (nombre, titulos, posicion, quinteto)>
    <!ATTLIST equipo conferencia CDATA #REQUIRED>
    
    <!ELEMENT titulos (#PCDATA)>
    <!ELEMENT posicion (#PCDATA)>
    <!ELEMENT quinteto (#PCDATA)>