05.01. Validación XML - DTD I/EJERCICIO_02/index.dtd


<!ELEMENT liga (jugador)>
<!ELEMENT jugador (nombre, apellidos, equipo, edad)>                        <!-- Declaramos los elementos así como sus subelementos-->
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT equipo (nombre, ciudad, presidente)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT presidente (nombrePresidente, apellidosPresidente)>
<!ELEMENT nombrePresidente (#PCDATA)>
<!ELEMENT apellidosPresidente (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
