05.02. Validación XML - DTD II Requisitos de finalización/EJERCICIO_03/index.dtd

<!ELEMENT panel (nombre_aeropuerto, vuelo+)>
<!ATTLIST panel fecha CDATA #REQUIRED>

<!ELEMENT nombre_aeropuerto (#PCDATA)>

<!ELEMENT vuelo (diario?, origen, destino, hora_salida, hora_llegada)>
<!ATTLIST vuelo codigo ID #REQUIRED>
<!ATTLIST vuelo estado (C | E | R) \"E\">

<!ELEMENT diario (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT destino (#PCDATA)>
<!ELEMENT hora_salida (#PCDATA)>
<!ELEMENT hora_llegada (#PCDATA)>